
<!-- header initial part -->

<div class="bg-black hidden lg:block text-white py-2">
  <div class="container mx-auto">
    <div class="flex justify-between">
      <div class="flex flex-col md:flex-row">
        <p>
          +123 - 234 - 1234
          <span class="px-4">|</span>
        </p>
        <p>  
          hello@awesome.com
          <span class="px-4">|</span>
         </p>
         <p> Mon - Fri: 10:00 - 18:30</p>
      </div>
      <div class="flex gap-x-6">
        <fa-icon [icon]="faYoutube"></fa-icon>
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faGoogle"></fa-icon>
      
      </div>
    </div>
  </div>
</div>




<!-- header main part -->

<div class="container mx-auto py-3 p-5">
    <div class="navbar justify-between bg-base-100">
       
          <div>
            <a routerLink="/" class="normal-case text-xl"><img src="../../assets/logo.png" alt=""></a>
          </div>
   



          <div class="dropdown dropdown-left dropdown-bottom">
            <label tabindex="0" class="btn btn-ghost md:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
            </label>

            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-36">
              <li tabindex="0">
                <a class=" hover:border-b-4  hover:border-black hover:bg-white">
                  Home 
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class=" bg-white w-36">
                  <li><a>Home Interior</a></li>
                  <li><a>Home Architecture</a></li>
                  <li><a>Home Studio</a></li>  
                </ul>
              </li>
            <li tabindex="0">
                <a class="hover:border-b-4  hover:border-black hover:bg-white">
                  Studio
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2  bg-white w-36">
                  <li><a>About Studio</a></li>
                  <li><a>Why Choose Us</a></li>
                  <li><a>Our Service</a></li>  
                </ul>
              </li>
            <li tabindex="0">
                <a class="hover:border-b-4  hover:border-black hover:bg-white">
                  Projects
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2 bg-white w-36">
                  <li><a>Projects 1</a></li>
                  <li><a>Projects 2</a></li>
                  <li><a>Projects Details</a></li>
                
                </ul>
              </li>
            <li tabindex="0">
                <a class="hover:border-b-4  hover:border-black hover:bg-white">
                  Page
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2 bg-white w-36">
                  <li><a>Portfolio 1</a></li>
                  <li><a>Portfolio 2</a></li>
                  <li><a>Our Team</a></li>
                  <li><a>Pricing</a></li>
                  <li><a>Testimonial</a></li>
                  <li><a>404 Page</a></li>
                
                </ul>
              </li>
            <li tabindex="0">
                <a class="hover:border-b-4  hover:border-black hover:bg-white">
                  Our News
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2 bg-white w-36">
                  <li><a>Archive</a></li>
                  <li><a>Single Post</a></li>
                  
                
                </ul>
              </li>
    
    
            <li><a class="hover:bg-white">Contact Us</a></li>
    
    
            </ul>
          </div>


     


        <div class="navbar-end hidden lg:flex">
          <ul class="menu menu-horizontal p-0">
    
    
            <li tabindex="0">
                <a class="hover:border-b-4  hover:border-black hover:bg-white">
                  Home
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2 bg-white">
                  <li><a>Home Interior</a></li>
                  <li><a>Home Architecture</a></li>
                  <li><a>Home Studio</a></li>  
                </ul>
              </li>
            <li tabindex="0">
                <a class="hover:border-b-4  hover:border-black hover:bg-white">
                  Studio
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2  bg-white">
                  <li><a routerLink="/aboutStudio">About Studio</a></li>
                  <li><a>Why Choose Us</a></li>
                  <li><a>Our Service</a></li>  
                </ul>
              </li>
            <li tabindex="0">
                <a class="hover:border-b-4  hover:border-black hover:bg-white">
                  Projects
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2 bg-white">
                  <li><a>Projects 1</a></li>
                  <li><a>Projects 2</a></li>
                  <li><a>Projects Details</a></li>
                
                </ul>
              </li>
            <li tabindex="0">
                <a class="hover:border-b-4  hover:border-black hover:bg-white">
                  Page
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2 bg-white">
                  <li><a>Portfolio 1</a></li>
                  <li><a>Portfolio 2</a></li>
                  <li><a>Our Team</a></li>
                  <li><a>Pricing</a></li>
                  <li><a>Testimonial</a></li>
                  <li><a>404 Page</a></li>
                
                </ul>
              </li>
            <li tabindex="0">
                <a class="hover:border-b-4  hover:border-black hover:bg-white">
                  Our News
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </a>
                <ul class="p-2 bg-white">
                  <li><a>Archive</a></li>
                  <li><a>Single Post</a></li>
                  
                
                </ul>
              </li>
    
    
            <li><a class="hover:bg-white">Contact Us</a></li>
            
          </ul>
        </div>
      </div>
    
</div>

<router-outlet></router-outlet>