<hr />
<div class="container mx-auto py-12 text-center lg:text-justify">
  <div class="grid grid-col-1 md:grid-cols-3 lg:grid-cols-5 gap-12">
    <div class="mx-auto lg:mx-0">
      <img src="../../assets/logo.png" />
    </div>
    <div>
      <h3 class="text-2xl font-bold">Visit Us</h3>
      <div class="divider w-12"></div>
      <div class="flex flex-col gap-y-3 text-lg text-[#5A5A5A]">
        <p>99 Roving St, Big City PKU</p>
        <p>Telp: 123-234-1234</p>
        <p>Email : hello@awesome.com</p>
      </div>
    </div>
    <div>
      <h3 class="text-2xl font-bold">Working Hours</h3>
      <div class="divider w-12"></div>
      <div class="flex flex-col gap-y-3 text-lg text-[#5A5A5A]">
        <p>Monday - Friday</p>
        <p>10:00 am - 18:30 pm</p>
        <p>Saturday - Sunday - Closed</p>
      </div>
    </div>
    <div>
      <h3 class="text-2xl font-bold">Quick Links</h3>
      <div class="divider w-12"></div>
      <div class="flex flex-col gap-y-3 text-lg  text-[#5A5A5A]">
        <p class="hover:text-[#CCA253] cursor-pointer"><fa-icon class="text-[#CCA253]" [icon]="faPlay"></fa-icon>  Home Studio</p>
        <p class="hover:text-[#CCA253] cursor-pointer"><fa-icon class="text-[#CCA253]" [icon]="faPlay"></fa-icon>  Architecture Design</p>
        <p class="hover:text-[#CCA253] cursor-pointer"><fa-icon class="text-[#CCA253]" [icon]="faPlay"></fa-icon>  Our Service</p>
        <p class="hover:text-[#CCA253] cursor-pointer"><fa-icon class="text-[#CCA253]" [icon]="faPlay"></fa-icon>  Interior Design</p>
        <p class="hover:text-[#CCA253] cursor-pointer"><fa-icon class="text-[#CCA253]" [icon]="faPlay"></fa-icon>  Privacy Policy</p>
      </div>
    </div>
    <div class="p-5 md:p-0">
      <h3 class="text-2xl font-bold">Newsletter</h3>
      <div class="divider w-12"></div>
      <div class="flex flex-col gap-y-3 text-lg text-[#5A5A5A]">
        <p>Stay up to date with our latest news, receive deals,and more.</p>
        <input type="email" placeholder="Email" class="input input-bordered w-full max-w-xs" />
        <button class="btn btn-md bg-[#AE8553] text-white border-0">Send Message</button>
      </div>
    </div>
  </div>
</div>

<!-- footer second part -->
<div class="bg-black py-4">
  <p class="text-center text-gray-400 font-bold">
    Luxxy with Passion by Rometheme © 2022 All rights reserved
  </p>
</div>
