<div class="best_project_bg pt-48 pb-12 mb-32">
    
    <div class="container mx-auto ">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
            <div class="flex flex-col justify-end ">
                <div class="flex flex-col gap-y-6 p-2">
                    <p class="text-2xl text-[#CCA253] tracking-wide">REAL INTERIOR</p>
                    <h2 class="text-5xl">A New way to Explore Real Interior Design Studio</h2>
                    <p class="text-[#5A4C3B] text-xl">Lacus sed turpis tincidunt id. Est ante in nibh mauris cursus mattis molestie a. Felis eget nunc lobortis mattis aliquam faucibus purus in massa. Lectus quam id leo in vitae turpis massa sed. Enim diam vulputate ut pharetra sit.</p>
         
                 <div class="flex gap-4">
                 
                    <P>    <fa-icon [icon]="faPlay"></fa-icon>
                    QUALITY MATERIA</P>
                    <P><fa-icon [icon]="faPlay"></fa-icon> AESTHETIC LOOK</P>
                    <P><fa-icon [icon]="faPlay"></fa-icon> MINIMALIST DESIGN</P>
                 </div>
                    <div>
                        <button class="btn btn-md bg-[#AE8553] text-white border-0">Discover Now</button>
                    
                    </div>
                  
                </div>
            </div>
            <div class="h-[300px] best-img-Bg">
                <img class="best_img" src="../../assets/real-interior.png" />
            </div>
            
        </div>
    </div>
    </div>
    
    
    
