<div class="container mx-auto mt-[-100px] p-5">
    <div class="hero-form-bg p-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 border-8 border-white shadow">
        <div>
            <label class="text-white font-bold" for="email">Email Address</label> <br> <br>
            <input type="text" placeholder="Your Email" class="input w-full max-w-xs" />
        </div>
        <div>
            <label class="text-white font-bold" for="room">Space / Room</label>
            <br> <br>
            <select class="input w-full max-w-xs" id="room" name="country">
                <option value="australia">Work Space</option>
                <option value="canada">Bath Room </option>
                <option value="usa">Bed Room</option>
                <option value="usa">Dining Room</option>
                <option value="usa">Kitchen</option>
                <option value="usa">Living Room</option>
                <option value="usa">Family Room</option>
              </select>
        </div>
        <div>
            <label class="text-white font-bold" for="email">Average Price</label> <br> <br>
            <input type="number" placeholder="$1000 - $3000" class="input w-full max-w-xs" />
        </div>
        <div>
            <label class="text-white font-bold" for="email"></label> <br> <br>
            <button class="btn bg-[#AE8553] w-full">I AM READY TO GET START</button>
            
        </div>
    </div>
</div>
