<div class="container mx-auto my-32 p-5">
<div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <div>
        <div class="flex flex-col gap-y-6 p-2">
            <p class="text-2xl text-[#CCA253] tracking-wide">ABOUT STUDIO</p>
            <h2 class="text-5xl">Take Control for your <br> Architecture & Interior</h2>
            <p class="text-[#5A4C3B] text-xl">Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Augue interdum velit euismod in pellentesque massa placerat duis. Sagittis orci a scelerisque purus semper eget duis.</p>
 
            <p class="text-[#5A4C3B] text-xl">Integer vitae justo eget magna. Id porta nibh venenatis cras sed felis eget velit. Et leo duis ut diam quam nulla porttitor. Euismod elementum nisi quis eleifend quam adipiscing. In ante metus dictum at tempor commodo.</p>
            <div class="flex items-center">
                <button class="btn btn-md bg-[#AE8553] text-white border-0">Discover Now</button>
                <p class="text-[#AE8553] text-2xl font-bold ml-12"><span class="underline">Contact Us</span>  +</p>
            </div>
          
        </div>
   
    </div>
    <div >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="md:w-80 md:h-80">
                <div  class="parent">
                    <img src="../../assets/about-studio1.jpg"/>
                    <div class="child hidden md:block bg-[#2A2A2A] p-5 text-white">
                        <h2 class="text-4xl font-bold">85%
                           </h2>
                           <p class="text-xl">Already <br> Inhabited</p>
                    </div>
                </div>
               
            </div>
            <div class="parent">
                <img src="../../assets/about-studio2.jpg"/>
                <div class="child2 bg-[#735221] p-5 text-white">
                    <h2 class="text-4xl font-bold">12k
                       </h2>
                       <p class="text-xl">Satisfied  <br> Family</p>
                </div>
            </div>
        </div>
       
      
     

    </div>
</div>
</div>
