<div class="container mx-auto my-16">
<div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <div>
        <div class="flex flex-col gap-y-6">
            <p class="text-2xl text-[#CCA253] tracking-wide">ABOUT STUDIO</p>
            <h2 class="text-5xl">Take Control for your <br> Architecture & Interior</h2>
            <p class="text-[#5A4C3B] text-xl">Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque. Augue interdum velit euismod in pellentesque massa placerat duis. Sagittis orci a scelerisque purus semper eget duis.</p>
 
            <p class="text-[#5A4C3B] text-xl">Integer vitae justo eget magna. Id porta nibh venenatis cras sed felis eget velit. Et leo duis ut diam quam nulla porttitor. Euismod elementum nisi quis eleifend quam adipiscing. In ante metus dictum at tempor commodo.</p>
            <div>
                <button class="btn btn-lg bg-[#AE8553] text-white border-0">Discover Now</button>
            </div>
          
        </div>
   
    </div>
    <div >
        <div class="grid grid-cols-2">
            <div class="w-80 h-80">
                <img src="../../assets/about-studio1.jpg"/>
            </div>
            <div>
                <img src="../../assets/about-studio2.jpg"/>
            </div>
        </div>
       
      
     

    </div>
</div>
</div>
