<div class="container mx-auto mb-32">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
    <div class="parent">
      <img src="../../assets//offer.jpg" />
      <div class="child flex gap-x-6 text-white text-center">
        <div class="bg-[#2A2A2A] p-5">
            <h2 class="text-4xl font-bold">1,290
                +</h2>
        <p class="text-xl">
            Space Work
        </p>
        </div>
        <div class="bg-[#2A2A2A] p-5">
            <h2 class="text-4xl font-bold">
                250
                +</h2>
        <p class="text-xl">
            Success Project
        </p>
        </div>
        <div class="bg-[#2A2A2A] p-5">
            <h2 class="text-4xl font-bold">24</h2>
        <p class="text-xl">
            Award Winning
        </p>
        </div>
      
       
        
      </div>
    </div>
    <div class="flex flex-col gap-y-4 my-auto">
      <p class="text-2xl text-[#CCA253] tracking-wide">WHAT WE OFFER</p>
      <h2 class="text-5xl">Discover Our Amazing Architecture and Interior</h2>
      <p class="text-[#5A4C3B] text-xl">
        Massa vitae tortor condimentum lacinia quis vel eros. Fringilla est
        ullamcorper eget nulla facilisi etiam dignissim. Volutpat consequat
        mauris nunc congue.
      </p>
      <p>
        Non curabitur gravida arcu ac tortor dignissim convallis. Felis eget
        velit aliquet sagittis id consectetur purus ut. Consequat mauris nunc
        congue nisi vitae suscipit tellus.
      </p>
      <ul class="flex flex-col gap-y-4">
        <li><fa-icon [icon]="faPlay"></fa-icon> Malesuada pellentesque elit eget gravida cum.</li>
        <li>Ullamcorper sit amet risus nullam eget felis eget.</li>
        <li>Felis eget nunc lobortis mattis aliquam faucibus.</li>
      </ul>
    </div>
  </div>
</div>
