<div class="container mx-auto mb-32">
  <div>
    <div class="flex flex-col text-center gap-y-4">
      <p class="text-2xl text-[#CCA253] tracking-wide">OUR SERVICE</p>
      <h2 class="text-5xl">The Ease of A Dream Architecture r</h2>
      <p class="text-[#5A4C3B] text-xl">
        Massa vitae tortor condimentum lacinia quis vel eros. Fringilla est
        ullamcorper eget nulla <br />
        facilisi etiam dignissim. Volutpat consequat mauris nunc congue.
      </p>
    </div>

    <div>
      <div
        class="grid grid-flow-row-dense grid-cols-1 md:grid-cols-3 gap-8 my-12"
      >
        <div class="col-span-2 serviceBg">
          <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="lg:mt-[-300px]">
              <img src="../../assets//service.png" />
            </div>
            <div>
              <div class="flex p-3 m-12 bg-[#FFFFFFAB] items-center">
                <div>
                  <img class="w-2/3" src="../../assets/architecture.png" />
                </div>

                <div>
                  <h3 class="text-3xl font-bold">Architecture</h3>
                  <p class="text-[#5A5A5A]">
                    Turpis egestas sed tempus urna et pharetra pharetra faucibus
                    sit amet
                  </p>
                </div>
              </div>
              <div class="flex p-3 m-12 bg-[#FFFFFFAB] items-center">
                <div>
                  <img class="w-2/3" src="../../assets/interior.png" />
                </div>

                <div>
                  <h3 class="text-3xl font-bold">Interior Design</h3>
                  <p class="text-[#5A5A5A]">
                    Turpis egestas sed tempus urna et pharetra pharetra faucibus
                    sit amet
                  </p>
                </div>
              </div>
              <div class="flex p-3 m-12 bg-[#FFFFFFAB] items-center">
                <div>
                  <img class="w-2/3" src="../../assets/modeling.png" />
                </div>

                <div>
                  <h3 class="text-3xl font-bold">3D Modeling</h3>
                  <p class="text-[#5A5A5A]">
                    Turpis egestas sed tempus urna et pharetra pharetra faucibus
                    sit amet
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div>
            <div class="flex p-3 my-12 serviceBg items-center">
              <div>
                <img class="w-2/3" src="../../assets/furniture.png" />
              </div>

              <div>
                <h3 class="text-3xl text-white font-bold">Furniture Design</h3>
                <p class="text-[#D8D8D8]">
                  Porttitor leo a diam sollicitudin tempor id. Est ultricies
                  integer quis elit sed.
                </p>
              </div>
            </div>
            <div class="flex p-3 my-12 serviceBg items-center">
              <div>
                <img class="w-2/3" src="../../assets/consultancy.png" />
              </div>

              <div>
                <h3 class="text-3xl text-white font-bold">Consultancy</h3>
                <p class="text-[#D8D8D8]">
                  Porttitor leo a diam sollicitudin tempor id. Est ultricies
                  integer quis elit sed.
                </p>
              </div>
            </div>
            <div class="flex p-3 my-12 serviceBg items-center">
              <div>
                <img class="w-2/3" src="../../assets/development.png" />
              </div>

              <div>
                <h3 class="text-3xl text-white font-bold">Development</h3>
                <p class="text-[#D8D8D8]">
                  Porttitor leo a diam sollicitudin tempor id. Est ultricies
                  integer quis elit sed.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
