<div class="container mx-auto text-center my-12">
<div class="flex flex-col gap-y-4">
    <p class="text-3xl text-[#CCA253]">THANKS FOR SUPPORT</p>
    <h2 class="text-5xl">Trusted by Wordwide</h2>
    <div class="divider text-2xl">TRUSTED COMPANY</div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 my-24">
<div class="border border-white border-b-zinc-200 border-r-zinc-200 p-12"><img src="../../assets/company1.png"/></div>
<div class="border border-white border-b-zinc-200 border-r-zinc-200 p-12"><img src="../../assets/company2.png"/></div>
<div class="border border-white border-b-zinc-200 border-r-zinc-200 p-12"><img src="../../assets/company3.png"/></div>
<div class="border border-white border-b-zinc-200 border-r-zinc-200 p-12"><img src="../../assets/company4.png"/></div>
<div class="border border-white border-b-zinc-200  p-12"><img src="../../assets/company5.png"/></div>
<div class="border border-white  border-r-zinc-200 p-12"><img src="../../assets/company6.png"/></div>
<div class="border border-white  border-r-zinc-200 p-12"><img src="../../assets/company7.png"/></div>
<div class="border border-white  border-r-zinc-200 p-12"><img src="../../assets/company8.png"/></div>
<div class="border border-white  border-r-zinc-200 p-12"><img src="../../assets/company9.png"/></div>
<div class=" p-12"><img src="../../assets/company10.png"/></div>




 
  
    
</div>
</div>
