<div class="container mx-auto my-12">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    <div class="gallery1Bg  shadow">
      <div class="gallery__content">
        <h3 class="text-3xl text-[#EDDCC1] font-bold">Unique</h3>
        <p class="text-xl text-[#D8D8D8]">INTERIOR DESIGN</p>
      </div>
    </div>
    <div class="gallery2Bg  shadow">
      <div class="gallery__content">
        <h3 class="text-3xl text-[#EDDCC1] font-bold">Unique</h3>
        <p class="text-xl text-[#D8D8D8]">INTERIOR DESIGN</p>
      </div>
    </div>
    <div class="gallery3Bg  shadow">
      <div class="gallery__content">
        <h3 class="text-3xl text-[#EDDCC1] font-bold">Unique</h3>
        <p class="text-xl text-[#D8D8D8]">INTERIOR DESIGN</p>
      </div>
    </div>
    <div class="gallery4Bg  shadow">
      <div class="gallery__content">
        <h3 class="text-3xl text-[#EDDCC1] font-bold">Unique</h3>
        <p class="text-xl text-[#D8D8D8]">INTERIOR DESIGN</p>
      </div>
    </div>
  </div>
</div>
