<div class="container mx-auto my-12">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <img class="gellary border-8 border-white shadow" src="../../assets/gellary1.jpg"/>
        <img  class="gellary border-8 border-white shadow"  src="../../assets/gellary2.jpg"/>
        <img  class="gellary border-8 border-white shadow"  src="../../assets/gellaery3.jpg"/>
        <img  class="gellary border-8 border-white shadow"  src="../../assets/gellary4.jpg"/>
    </div>
</div>
